import React, { Component } from 'react';
import styles from './{{pascalCase name}}.module.css';

interface Props {
  heading: string;
}

export class {{pascalCase name}} extends React.Component<Props>
    {
    constructor(props: Props) {
    super(props);

    render() {
        return (
        <div>
            <h2> "This is a {{pascalCase name}} Component!" </h2>
        </div>
        );
    }
    };

//FIX THIS TYPESCRIPT FILE TEMPLATE